<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with Stockripper</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="/static/styles.css?v=1.0">

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title chat-title">Chat with Stockripper</h1>
            <div id="chat-box" class="box chat-box" style="height: 400px; overflow-y: scroll;"></div>
            <input id="user-input" class="input chat-input" type="text" placeholder="Type your message...">
            <button id="send-button" class="button is-primary" onclick="sendMessage()">Send</button>
        </div>
    </section>

    <!-- Reference script.js using Flask's url_for -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
